<div
  class="container d-flex align-items-center justify-content-center"
  style="min-height: 70vh"
>
  <div class="row justify-content-center w-100">
    <div class="col-md-8 col-lg-6">
      <h2 class="text-center mb-3 text-light">Bienvenido a Filme<i>Plus</i></h2>
      <p class="text-center">
        Catálogo con una selección detallada de películas donde, a través de
        esta interfaz, como usuario puedes consultar los datos técnicos y
        descriptivos de cada título, con el objetivo servir como una herramienta
        centralizada de consulta y administración.
      </p>

      <!-- BOTÓN HACIA LISTA -->
      <div class="text-center mt-4">
        <a routerLink="/movies" class="btn btn-secondary"> Ver catálogo </a>
      </div>
    </div>
  </div>
</div>
